body {
  height: 100%;
  margin: 0;
}
html {
  height: 100%;
}
.player {
  width: 100%;
  height: 90%;
}
.ui {
  height: 10%;
  display: flex;
  justify-content: center;
}
.ui button {
  width: 10rem;
}
div.fps{
  margin: auto 0;
  height: fit-content;
}
div.fps input{
  width: 3em;
}
video {
  object-fit: contain;
  width:100%;
  height:100%;
  max-width:100%;
  max-height:100%;
}